<% include partials/header %>
<div class='container-fluid' id='company-text'>
    <h1>Контакты</h1>
    <p>
        <img src="novofarm_map.jpg">
        <ul>
            <li><em>Украина,11706,г.Новоград-Волынский,ул.Житомирская 38</em></li>
            <li><em>тел.: (04141) 2-05-59, 2-15-50</em></li>
            <li><em>тел/факс: (04141) 2-05-59 e-mail: info@novofarm.com.ua.</em></li>
        </ul>
    </p>
</div>
<% include partials/footer %>