<% include partials/header %>
<style>
    *{
        box-sizing: content-box;
    }
</style>
<script>
</script>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class='text-center'>Добро Пожаловать на сайт ООО "Новофарм-Биосинтез"</h1>
    </div>
    <div class="container">
        <p class="text">
            ООО фирма «Новофарм-Биосинтез» основана в 1996 году. Главная задача предприятия - изготовление
            высококачественных инфузионных и инъекционных растворов, используемых при оказании неотложной
            медицинской помощи и проведении интенсивной терапии. Это производство
            с системой чистых помещений, новейшими технологиями, оборудованием ведущих европейских фирм.
            Предприятие «Новофарм-Биосинтез» своей продукцией расширяет номенклатуру отечественного
            фармацевтического рынка, уменьшает дефицит лекарств, обеспечивает население страны и ближнего
            зарубежья качественными медикаментами.
        </p>
        <p class="text">
            ООО фирма «Новофарм-Биосинтез» выполняет свою миссию посредством постоянного внедрения новой
            продукции, поддержания ее высокого качества, сотрудничества с ведущими исследовательскими
            центрами и лабораториями страны. На фармацевтическом рынке Украины и
            ближнего зарубежья ООО фирма «Новофарм-Биосинтез» зарекомендовало себя серьезным производителем
            лекарственных препаратов. Основываясь на семнадцатилетнем опыте работы, мы уверены, что
            потребитель нуждается в качественных фармацевтических растворах,
            производимых в соответствии с мировыми стандартами. Поэтому наращивая потенциал, увеличивая
            ассортимент продукции, совершенствуя технологию и процессы управления, мы стараемся:
            <ul>
                <li>использовать только качественное сырье </li>
                <li>выпускать продукцию по современным технологиям производства и упаковки </li>
                <li>максимально обеспечивать потребителей всем ассортиментом инфузионных и инъекционных растворов.</li>
            </ul>
        </p>
        
        
        <p class="text">
            Предприятие ООО фирма «Новофарм-Биосинтез» имеет собственную производственную базу и
            хорошо оснащенные лаборатории. Производственный процесс и контрольно-аналитические операции
            обеспечиваются высококвалифицированным персоналом: технологами, химиками-аналитиками,
            микробиологами. Склад готовой продукции, который размещен в современном здании площадью более 800
            м.кв., обеспечивает надлежащее хранение произведенной продукции.
            Эти факторы, а также репутация ООО фирма «Новофарм-Биосинтез», как надежного партнера в области
            производства лекарственных средств, надеемся, привлекут к сотрудничеству зарубежных партнеров,
            которые заинтересуются производством своей продукции, используя
            производственные мощности ООО фирмы «Новофарм-Биосинтез».
        </p>
    </div>
</div>

<% include partials/footer %>

