<% include partials/header %>
<style>
    *{
        box-sizing: content-box;
    }
    img{
        width: 100%;
        height: 100%;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    p{
    }
    .block-container{
        display:grid;
        grid-template-columns: repeat(auto-fill,300px);
        grid-template-rows: 300px 300px 300px;
    }
    .block{
        grid-column: span 3;
        border: 1px solid black;
        background: rgba(86, 70, 224, 0.26);
    }
    #img-1{
        grid-column: span 2;
        grid-row: 1/2;
    }
    #img-2{
        grid-column: 4/ -1;
    }
    #img-3{
        grid-column: span 2;
        grid-row: 3/4;
    }
</style>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class='text-center'>Добро Пожаловать на сайт ООО "Новофарм-Биосинтез"</h1>
    </div>
    <div class="block-container">
        <div class="block">
            <p class="text">
                ООО фирма «Новофарм-Биосинтез» основана в 1996 году. Главная задача предприятия - изготовление
                высококачественных инфузионных и инъекционных растворов, используемых при оказании неотложной
                медицинской помощи и проведении интенсивной терапии. Это производство
                с системой чистых помещений, новейшими технологиями, оборудованием ведущих европейских фирм.
                Предприятие «Новофарм-Биосинтез» своей продукцией расширяет номенклатуру отечественного
                фармацевтического рынка, уменьшает дефицит лекарств, обеспечивает население страны и ближнего
                зарубежья качественными медикаментами.
            </p>
        </div>
        <img id='img-1' src="http://cohenwoodworking.com/wp-content/uploads/2016/09/image-placeholder-500x500.jpg" alt="" class="image">
        
        <div class="block">
            <p class="text">
            ООО фирма «Новофарм-Биосинтез» выполняет свою миссию посредством постоянного внедрения новой
            продукции, поддержания ее высокого качества, сотрудничества с ведущими исследовательскими
            центрами и лабораториями страны. На фармацевтическом рынке Украины и
            ближнего зарубежья ООО фирма «Новофарм-Биосинтез» зарекомендовало себя серьезным производителем
            лекарственных препаратов. Основываясь на семнадцатилетнем опыте работы, мы уверены, что
            потребитель нуждается в качественных фармацевтических растворах,
            производимых в соответствии с мировыми стандартами. Поэтому наращивая потенциал, увеличивая
            ассортимент продукции, совершенствуя технологию и процессы управления, мы стараемся:
            <ul>
                <li>использовать только качественное сырье </li>
                <li>выпускать продукцию по современным технологиям производства и упаковки </li>
                <li>максимально обеспечивать потребителей всем ассортиментом инфузионных и инъекционных растворов.</li>
            </ul>
            </p>
        </div>
        <img id='img-2' src="http://cohenwoodworking.com/wp-content/uploads/2016/09/image-placeholder-500x500.jpg" alt="" class="image">
        <div class="block">
            <p class="text">
            Предприятие ООО фирма «Новофарм-Биосинтез» имеет собственную производственную базу и
            хорошо оснащенные лаборатории. Производственный процесс и контрольно-аналитические операции
            обеспечиваются высококвалифицированным персоналом: технологами, химиками-аналитиками,
            микробиологами. Склад готовой продукции, который размещен в современном здании площадью более 800
            м.кв., обеспечивает надлежащее хранение произведенной продукции.
            Эти факторы, а также репутация ООО фирма «Новофарм-Биосинтез», как надежного партнера в области
            производства лекарственных средств, надеемся, привлекут к сотрудничеству зарубежных партнеров,
            которые заинтересуются производством своей продукции, используя
            производственные мощности ООО фирмы «Новофарм-Биосинтез».
            </p>
        </div>
        <img id='img-3' src="http://cohenwoodworking.com/wp-content/uploads/2016/09/image-placeholder-500x500.jpg" alt="" class="image">
    </div>
</div>

<% include partials/footer %>




 
<!-- <div class="text-container">
    <div class="text">
        ООО фирма «Новофарм-Биосинтез» основана в 1996 году. Главная задача предприятия - изготовление
        высококачественных инфузионных и инъекционных растворов, используемых при оказании неотложной
        медицинской помощи и проведении интенсивной терапии. Это производство
        с системой чистых помещений, новейшими технологиями, оборудованием ведущих европейских фирм.
        Предприятие «Новофарм-Биосинтез» своей продукцией расширяет номенклатуру отечественного
        фармацевтического рынка, уменьшает дефицит лекарств, обеспечивает население страны и ближнего
        зарубежья качественными медикаментами.
    </div>
    <div class="image">
        <img src="http://cohenwoodworking.com/wp-content/uploads/2016/09/image-placeholder-500x500.jpg" alt="img">
    </div>

    <div class="image">
        <img src="http://cohenwoodworking.com/wp-content/uploads/2016/09/image-placeholder-500x500.jpg" alt="img">
        <div class="text">
            ООО фирма «Новофарм-Биосинтез» выполняет свою миссию посредством постоянного внедрения новой
            продукции, поддержания ее высокого качества, сотрудничества с ведущими исследовательскими
            центрами и лабораториями страны. На фармацевтическом рынке Украины и
            ближнего зарубежья ООО фирма «Новофарм-Биосинтез» зарекомендовало себя серьезным производителем
            лекарственных препаратов. Основываясь на семнадцатилетнем опыте работы, мы уверены, что
            потребитель нуждается в качественных фармацевтических растворах,
            производимых в соответствии с мировыми стандартами. Поэтому наращивая потенциал, увеличивая
            ассортимент продукции, совершенствуя технологию и процессы управления, мы стараемся:
            <ul>
                <li>использовать только качественное сырье </li>
                <li>выпускать продукцию по современным технологиям производства и упаковки </li>
                <li>максимально обеспечивать потребителей всем ассортиментом инфузионных и инъекционных растворов.</li>
            </ul>
        </div>
        <div class="text">
            Предприятие ООО фирма «Новофарм-Биосинтез» имеет собственную производственную базу и
            хорошо оснащенные лаборатории. Производственный процесс и контрольно-аналитические операции
            обеспечиваются высококвалифицированным персоналом: технологами, химиками-аналитиками,
            микробиологами. Склад готовой продукции, который размещен в современном здании площадью более 800
            м.кв., обеспечивает надлежащее хранение произведенной продукции.
            Эти факторы, а также репутация ООО фирма «Новофарм-Биосинтез», как надежного партнера в области
            производства лекарственных средств, надеемся, привлекут к сотрудничеству зарубежных партнеров,
            которые заинтересуются производством своей продукции, используя
            производственные мощности ООО фирмы «Новофарм-Биосинтез».
        </div>
        <div class="image">
            <img src="http://cohenwoodworking.com/wp-content/uploads/2016/09/image-placeholder-500x500.jpg" alt="img">
        </div>
        <!-- <div class="carousel">
    </div> -->
        <!-- сделать слайдшоу с фотками -->



