<% include partials/header %>
<style>
    .container-fluid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    }

    .card {
        display: flex;
        flex-wrap: wrap; 
        background: whitesmoke;
        align-content: flex-start;
    }
    .card-image{
        height: 450px;
    }

    .card-desc {
        box-sizing: content-box;
        padding: 15px;
        grid-column: span 2;
    }

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
</style>
<div class="jumbotron">
    <h1>На данной странице вы можете увидеть список растворов</h1>
    <h3>Производство лекарственных средств, зарегистрированных ООО фирмой "Новофарм-Биосинтез":</h3>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/amikacid.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">АМИКАЦИД</h5>
            <strong>Состав:</strong>
            <p class="card-text">действующее вещество: amikacin;
                1 мл раствора содержит амикацина сульфата эквивалентно амикацину 250 мг;
                вспомогательные вещества: натрия цитрат, натрия метабисульфит (Е 223), кислота серная, вода для
                инъекций. Состав.</p>
            Показания к применению:
            Инфекции, вызванные чувствительными к амикацину штаммами микроорганизмов, резистентными к другим
            аминогликозидам.</p>
            <strong>Упаковка</strong>
            <p class="card-text">По 2 мл или 4 мл во флаконах; по 1 флакону в пачке из картона.
                По 2 мл или 4 мл во флаконах; по 5 флаконов в контурной ячейковой упаковке; по 2 контурные ячейковые
                упаковки в
                пачке
                из картона.</p>
            <strong>Регистрационное удостоверение: № UA/15452/01/01.</strong>
            <p>Срок действия: до 15.09.2021г.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/aminokapr.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">АМИНОКАПРОНОВАЯ КИСЛОТА</h5>
            <strong>Состав</strong>
            <p class="card-text">кислота аминокапроновая, натрия хлорид, вода для инъекций.</p>
            <strong>Показания к применению:</strong>
            <p class="card-text">кровотечения после хирургических операций и различные патологические состояния,
                связанные с повышением
                фибринолитической активности крови и тканей. Предотвращение развития вторичной гипофибриногенемии при
                объемных
                переливаниях консервированной крови.</p>
            <strong>Упаковка</strong>
            <p class="card-text">по 100 мл в стеклянных бутылках</p>
            <strong>Регистрационное удостоверение № UA/2018/01/01</strong>
            <strong>Срок действия с 13.10.2009 по 13.10.2014</strong>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/artroks.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">АРТРОКС</h5>
            <strong>Состав:</strong>
            <p class="card-text">Показания к применению
                Дегенеративно-дистрофические заболевания суставов и позвоночника (первичный артроз, межпозвоночный
                остеохондроз,
                остеоартроз), остеопороз, пародонтопатии, переломы (для ускорения образования костной мозоли). Лечение
                последствий
                операций на суставах.</p>
            <p class="card-text">Упаковка.
                По 2 мл во флаконе; по 5 флаконов в контурной ячейковой упаковке; по 2 контурные ячейковые упаковки в
                пачке из картона.</p>
            <strong>Регистрационное удостоверение: № UA/14883/01/01</strong>
            <p class="card-text">Срок действия: до 04.02.2021</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/atrakuriumnovo.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">АТРАКУРИУМ-НОВО</h5>
            <strong>Состав:</strong>
            <p class="card-text">действующее вещество: атракуриум бесилат;
                1 мл раствора содержит атракуриума бесилата (в пересчете на 100 % вещество) 10 мг;
                вспомогательные вещества: раствор кислоты бензолсульфоновой, вода для инъекций.</p>
            <strong>Показания к применению</strong>
            <p class="card-text">Показания к применению
                Для миорелаксации при хирургических вмешательствах и диагностических процедурах (для проведения
                эндотрахеальной
                интубации и искусственной вентиляции легких).</p>
            <strong>Упаковка</strong>
            <p class="card-text">По 2,5 мл или 5 мл во флаконе; по 5 флаконов в контурной ячейковой упаковке в
                картонной пачке.</p>
            <strong>Регистрационное удостоверение: № UA/13801/01/01</strong>
            <p class="card-text">Срок действия: до 19.08.2019</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/geparin.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ГЕПАРИН-НОВОФАРМ</h5>
            <strong>Склад</strong>
            <p class="card-text">гепарину натрію, спирт бензиловий, натрію хлорид, вода для ін’єкцій.</p>
            <strong>Показання до застосування: </strong>
            <p class="card-text">профілактика та лікування тромбоемболічних захворювань та їх ускладнень, для
                попередження післяопераційних венозних тромбозів та емболії легеневої артерії (в режимі низького
                дозування) у пацієнтів, які перенесли абдомінальні або торакальні хірургічні втручання, або у тих, хто
                через будь-які інші причини має ризик розвитку тромбоемболічної хвороби, для попередження згортання
                крові при лабораторних дослідженнях, діалізі, екстракорпоральному кровообігу, операціях на серці та
                судинах, прямому переливанні крові.</p>
            <strong>Упаковка: </strong>
            <p class="card-text">по 2 або 4, або 5 мл у скляних флаконах.</p>
            <strong>Реєстраційне посвідчення № UA/10826/01/01</strong>
            <p class="card-text">Строк дії з 03.08.2010 по 30.07.2015</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/glukoza.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ГЛЮКОЗА-НОВОФАРМ</h5>
            <strong>
                Склад
            </strong>
            <p class="card-text">
                глюкоза, натрію хлорид, розчин кислоти хлористоводневої, вода для ін’єкцій.
            </p>
            <strong>Показання до застосування:</strong>
            <p class="card-text">
                гіпер- та ізоосмотична дегідратація, колапс, шок, інтоксикація, гіпоглікемія.
            </p>
            <strong>Упаковка</strong>
            <p class="card-text">
                по 200 та 400 мл у скляних пляшках.
            </p>
            <strong>Реєстраційне посвідчення № UA/6284/01/01</strong>
            <p class="card-text">
                Строк дії з 11.05.2012 по 11.05.2017
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/levofloksacin.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ЛЕВОФЛОКСАЦИН-НОВОФАРМ</h5>
            <strong>
                Склад
            </strong>
            <p class="card-text">
                діюча речовина:левофлоксацину гемігідрат;
                1 мл розчину містить левофлоксацину гемігідрату у перерахуванні на левофлоксацин 5 мг;
                допоміжні речовини: натрію хлорид, натрію гідроксид, кислота хлористоводнева концентрована, вода для
                ін’єкцій.
            </p>
            <strong>
                Показання до застосування.
            </strong>
            <p class="card-text">
                Інфекції, спричинені чутливими до левофлоксацину мікроорганізмами:
                - негоспітальна пневмонія;
                - ускладнені інфекції шкіри та м’яких тканин
                (для вищезгаданих інфекцій лікарський засіб слід застосовувати лише тоді, коли застосування інших
                антибактеріальних засобів, які зазвичай рекомендовані для початкового лікування цих інфекцій, є
                недоцільними або неможливими);
                - ускладнені інфекції сечовивідного тракту (у тому числі пієлонефрит);
                - хронічний бактеріальний простатит;
                - легенева форма сибірської виразки: профілактика після контактів та лікування.
            </p>
            <strong>
                Упаковка
            </strong>
            <p class="card-text">
                По 100 мл у пляшці; по 1 пляшці у пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення: № UA/16632/01/01
            </strong>
            <p class="card-text">
                Термін дії: до 21.03.2023
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/manit.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">МАНИТ-НОВОФАРМ</h5>
            <strong>
                Склад
            </strong>
            <p class="card-text">
                маніт, натрію хлорид, вода для ін’єкцій
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                набряк мозку, церебральна гіпертензія, інтенсивна терапія судомного статусу, асцит; гостра печінкова та
                ниркова недостатність зі збереженою фільтраційною здатністю нирок та інші стани, які потребують
                посилення діурезу (епілептичний статус, гострий напад глаукоми, операції із застосуванням
                екстракорпорального кровообігу, посттрансфузійні ускладнення після введення несумісної крові, отруєння
                барбітуратами та інші отруєння).
            </p>
            <strong>
                Упаковка
            </strong>
            <p class="card-text">
                по 200, 250, 400 або 500 мл у скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/3653/01/01
            </strong>
            <p class="card-text">
                Строк дії з 07.09.2010 по 01.09.2015
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/metronidazol.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">МЕТРОНІДАЗОЛ-НОВОФАРМ</h5>
            <strong>
                Склад
            </strong>
            <p class="card-text">
                метронідазол, натрію хлорид, кислоти лимонної моногідрат, натрію дигідрофосфату дигідрат, вода для
                ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                тяжкі інфекції, спричинені чутливими до препарату мікроорганізмами: внутрішньочеревні інфекції;
                інфекції органів малого тазу; інфекції дихальних шляхів; інфекції шкіри; сепсис; ендокардит; інфекції
                центральної нервової системи; септицемія, газова гангрена. Лікування гострого кишкового амебіазу та
                амебного абсцесу печінки. Профілактика інфекційних ускладнень, що спричиняються анаеробними бактеріями
                при хірургічних втручаннях при апендектомії, гінекологічних операціях.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                по 100 та 200 мл у скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/5519/01/01
            </strong>
            <p class="card-text">
                Строк дії з 25.01.2012 по 25.01.2017
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/mildrakor.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">МИЛДРАКОР-НОВОФАРМ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                мельдоній, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                - застосовують у складі комплексної терапії ішемічної хвороби серця і дисгормональної кардіоміопії;
                - гострі і хронічні порушення кровопостачання мозку;
                - гемофтальм і крововиливи в сітківку різної етіології, тромбоз центральної вени сітківки і її гілок,
                ретинопатії різної етиології;
                - знижена працездатність, фізичне перенавантаження;
                - абстинентний синдром при хронічному алкоголізмі.
            </p>
            <strong>
                Упаковка
            </strong>
            <p class="card-text">
                по 5 мл. в скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/4131/02/01
            </strong>
            <p class="card-text">
                Строк дії з 12.10.2012 р до 12.10.2017 р.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/natrij-hlorid.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">НАТРИЙ ХЛОРИД</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                натрію хлорид, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                дегідратація, гіпонатріємія, гіпохлоремія, інтоксикації різної етіології, тяжкий перебіг
                післяопераційного періоду, великі опіки, шок, тривала діарея, нестримне блювання, гострі масивні
                крововтрати, тривалі гарячкові стани, неможливість перорального введення необхідної добової норми води
                та електролітів, приготування розчинів лікарських засобів для зовнішнього та парентерального
                затосування.
            </p>
            <strong>
                Упаковка
            </strong>
            <p class="card-text">
                по 200 та 400 мл у скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/8438/01/01
            </strong>
            <p class="card-text">
                Перереєстровано на необмежений термін.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/neogemodez.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">НЕОГЕМОДЕЗ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                повідон, натрію хлорид, калію хлорид, кальцію хлорид гексагідрат, магнію хлорид гексагідрат, натрію
                гідрокарбонат, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                дезінтоксикація організму при токсичних формах гострих захворювань травного тракту; інфекційні
                захворювання, що супроводжуються токсикозами; опікова хвороба у фазі інтоксикації (2-5 день); гостра
                променева хвороба у фазі інтоксикації; перитоніт і непрохідність кишечнику (в перед- та
                післяопераційний період); гостра ниркова недостатність різної етіології; набряки, спричинені хронічними
                захворюваннями нирок або токсикозами; тиреотоксикози, сепсис; різні захворювання печінки.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                по 200 або 400 мл у скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/9724/01/01
            </strong>
            <p class="card-text">
                Строк дії з 02.06.2009 по 02.06.2014
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/novoxicam.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">НОВОКСИКАМ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина: 1,5 мл препарату містить 15 мг мелоксикаму;
                допоміжні речовини: меглюмін, глікофурол, полоксамер, натрію хлорид, гліцин, натрію гідроксид, вода для
                ін’єкцій.
            </p>
            <strong>
                Показання до затосування:
            </strong>
            <p class="card-text">
                Короткотривале симптоматичне лікування гострого нападу ревматоїдного артриту та анкілозивного
                спондиліту, коли пероральний та ректальний шляхи застосування не можуть бути використані.
            </p>
            <strong>
                Упаковка.

            </strong>
            <p class="card-text">
                Флакони по 1,5 мл; по 5 флаконів у контурній чарунковій упаковці в пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/12940/01/01
            </strong>
            <p class="card-text">
                Перереєстровано на необмежений термін.
            </p>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src=">
        </div>
        <div class="card-desc">
            <h5 class="card-title">НОВОКСИКАМ</h5>
            <strong>

            </strong>
            <p class="card-text">

            </p>
            <strong>

            </strong>
            <p class="card-text">
                
            </p>
            <strong>

            </strong>
            <p class="card-text">

            </p>
            <strong>
                
            </strong>
            <p class="card-text">
                
            </p>
        </div>
    </div> -->
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/novakson.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">НОВАКСОН</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина: 1 флакон (4 мл) містить цитиколіну натрію, що відповідає цитиколіну 500 мг або 1000 мг;
                допоміжні речовини: кислота хлористоводнева концентрована або натрію гідроксид, вода для ін’єкцій.
            </p>
            <strong>
                Показання.
            </strong>
            <p class="card-text">
                Гостра фаза порушень мозкового кровообігу та лікування ускладнень і наслідків порушень мозкового
                кровообігу.
                Черепно-мозкова травма та її наслідки.
                Неврологічні розлади (когнітивні, сенситивні, моторні), спричинені церебральною патологією
                дегенеративного та судинного походження.
            </p>
            <strong>
                Упаковка.
            </strong>
            <p class="card-text">
                По 4 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці; по 1 або 2 контурні чарункові
                упаковки в пачці з картону.

            </p>
            <strong>
                Реєстраційне посвідчення: № UA/14098/01/01
            </strong>
            <p class="card-text">
                Термін придатності: до 05.12.2019
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/novostezin.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">НОВОСТЕЗИН</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина: 1 мл розчину містить бупівакаїну гідро хлориду в перерахуванні на безводну речовину 2,5
                мг або 5 мг;
                допоміжні речовини: натрію хлорид, натрію гідроксид або кислота хлористоводнева концентрована, вода для
                ін’єкцій.
            </p>
            <strong>
                Показання до застосування
            </strong>
            <p class="card-text">
                інфільтраційна анестезія, якщо необхідно досягти звичайної тривалості ефекту, наприклад, для усунення
                післяопераційного болю;
                регіональна анестезія: блокада периферичних нервів (тулуба та сплетінь) та блокада центральних нервів
                (епідуральних та спінальних);
                хірургічна анестезія;
                анестезія в акушерстві.
            </p>
            <strong>
                Упаковка.
            </strong>
            <p class="card-text">
                По 5 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці в пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/15457/01/01
            </strong>
            <p class="card-text">
                Термін дії до 15.09.2021
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/novostezin-spinal.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">НОВОСТЕЗИН СПИНАЛ ХЕВИ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина:bupivacaine hydrochloride;
                1 мл розчину містить бупівакаїну гідрохлориду в перерахунку на безводну речовину 5 мг;
                допоміжні речовини: глюкоза, моногідрат; натрію гідроксид або кислота хлористоводнева концентрована,
                вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                Спінальна анестезія в хірургії (наприклад, при урологічних хірургічних операціях, хірургії нижніх
                кінцівок тривалістю 2−3 години, абдомінальній хірургії тривалістю 45−60 хвилин).
            </p>
            <strong>
                Упаковка.

            </strong>
            <p class="card-text">
                По 4 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці; по 1 контурній чарунковій упаковці в
                пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення: № UA/15582/01/01
            </strong>
            <p class="card-text">
                Термін дії: 24.11.2021
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/ornidazol.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ОРНИДАЗОЛ-НОВОФАРМ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина: орнідазол;
                1 мл розчину містить орнідазолу 5 мг;
                допоміжні речовини: натрію хлорид, натрію гідроксид, кислота хлористоводнева концентрована, вода для
                ін’єкцій.
            </p>
            <strong>
                Показання до застосування.
            </strong>
            <p class="card-text">
                Парентеральне введення лікарського засобу показане у випадках гострої та тяжкої інфекції або
                неможливості перорального застосування при таких захворюваннях і станах:
                – анаеробні системні інфекції, спричинені чутливою до орнідазолу мікрофлорою: септицемія, менінгіти,
                перитоніти, післяопераційні ранові інфекції, сепсис, септичний аборт та ендометрит;
                – профілактика інфекцій, спричинених анаеробними бактеріями, при хірургічних втручаннях (особливо при
                операціях на ободовій та прямій кишці), при гінекологічних операціях;
                - амебна дизентерія з тяжким перебігом, усі позакишкові форми амебіазу, лямбліоз, абсцес печінки.
            </p>
            <strong>
                Упаковка.
            </strong>
            <p class="card-text">
                По 100 мл у пляшці; по 1 пляшці у пачці з картону
            </p>
            <strong>
                Реєстраційне посвідчення: № UA/16647/01/01
            </strong>
            <p class="card-text">
                Термін дії: до 04.04.2023
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/propofol.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ПРОПОФОЛ-НОВО</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                пропофол, олія соєва, лецитин, гліцерин, натрію гідроксид, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                для індукції та підтримання загальної анестезії; для забезпечення седативного ефекту у пацієнтів, яким
                проводиться штучна вентиляція легень в умовах реанімації; для забезпечення седативного ефекту при
                проведенні хірургічних і діагностичних процедур.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                по 10 мл, 20 мл, 50 мл або 100 мл у скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/9488/01/01
            </strong>
            <p class="card-text">
                Строк дії з 23.01.2014 по 23.01.2019
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/refordez.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">РЕОПОЛИГЛЮКИН-НОВОФАРМ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                декстран, натрію хлорид, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                для поліпшення капілярного кровотоку з метою профілактики та лікування травматичного, операційного,
                токсичного й опікового шоків; для поліпшення артеріального і венозного кровообігу з метою профілактики
                і лікування тромбозів, тромбофлебітів, ендартеріїтів, хвороби Рейно; для поліпшення мікроциркуляції і
                зменшення тромбозів у трансплантаті при судинних і пластичних операціях.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                по 200, 250, 400, 500 мл у скляних пляшках, по одній пляшці в пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/6264/01/01
            </strong>
            <p class="card-text">
                Перереєстровано на необмежений термін
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/reopoliglukin.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">РЕФОРДЕЗ-НОВОФАРМ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                гідроксіетилкрохмаль з середньою молекулярною масою 20000 дальтон, натрію хлорид, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                лікування та профілактика гіповолемії при шокових станах внаслідок травм, опіків, гострої крововтрати,
                інфекції, для зменшення об’єму гемотрансфузій, а також для гемодилюції.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                по 200 або 400 мл у скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/2004/01/01
            </strong>
            <p class="card-text">
                Строк дії з 21.09.2009 по 21.09.2014
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/tio-lipon.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ТИО-ЛИПОН-НОВОФАРМ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина: thioctic acid;
                1 мл розчину містить 30 мг тіоктової (a-ліпоєвої) кислоти;
                допоміжні речовини: меглюмін, макрогол 300, вода для ін’єкцій.
            </p>
            <strong>
                Показання.

            </strong>
            <p class="card-text">
                Профілактика і лікування діабетичної полінейропатії, алкогольна нейропатія, захворювання печінки
                (гепатити, цироз, жирова дегенерація), при інтоксикаціях (наприклад: грибами, солями важких металів).
            </p>
            <strong>
                Упаковка.

            </strong>
            <p class="card-text">
                По 10 мл або 20 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці; по 1 або 2 контурні
                чарункові упаковки в пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення: № UA/13320/01/01
            </strong>
            <p class="card-text">
                Перереєстровано на необмежений термін.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/ciprofloksacin.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ЦИПРОФЛОКСАЦИН-НОВОФАРМ</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                ципрофлоксацину гідрохлорид, натрію хлорид, динатрію едетат, розчин кислоти хлористоводневої, вода для
                ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                середньо тяжкі та тяжкі форми інфекцій, спричинені чутливими до препарату мікроорганізмами, інфекції
                ЛОР-органів, нижніх дихальних шляхів, органів малого таза, шкіри і м’яких тканин, кісток і суглобів,
                венеричні інфекції, внутрішньочеревні інфекції, тяжкі інфекції на фоні імунодефіциту і нейтропенії.
                Препарат застосовують для профілактики інфекційних ускладнень при хірургічних втручаннях.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                по 100 та 200 мл у скляних пляшках.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/5534/01/01
            </strong>
            <p class="card-text">
                Строк дії з 25.01.2012 по 25.01.2017
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/pharmalipon.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ФАРМАЛІПОН</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина:тіоктова (a-ліпоєва) кислота;
                1 мл розчину містить тіоктової (a-ліпоєвої) кислоти 30 мг;
                допоміжні речовини: меглюмін, макрогол 300, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                Парестезії при діабетичній полінейропатії.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                По 20 мл у флаконі; по 5 флаконів у контурній чарунковій упаковці у пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/16672/01/01
            </strong>
            <p class="card-text">
                Термін дії до 26.04.2023р.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img alt="product image" class="" src="../images/tio-lipon-turbo.jpg">
        </div>
        <div class="card-desc">
            <h5 class="card-title">ТІО-ЛІПОН ТУРБО</h5>
            <strong>
                Склад:
            </strong>
            <p class="card-text">
                діюча речовина: thioctic acid;
                1 мл розчину містить 12 мг тіоктової (a-ліпоєвої) кислоти;
                допоміжні речовини: меглюмін, макрогол 300, вода для ін’єкцій.
            </p>
            <strong>
                Показання до застосування:
            </strong>
            <p class="card-text">
                Порушення чутливості при діабетичній полінейропатії.
            </p>
            <strong>
                Упаковка:
            </strong>
            <p class="card-text">
                По 50 мл у флаконах; по 1 флакону або 10 флаконів в пачці з картону.
            </p>
            <strong>
                Реєстраційне посвідчення № UA/16244/01/01
            </strong>
            <p class="card-text">
                Термін дії до 16.08.2022 р
            </p>
        </div>
    </div>
</div>
<% include partials/footer %>