<% include partials/header %>
<style>
    .container-fluid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    }

    .card {
        display: flex;
        flex-wrap: wrap; 
        background: whitesmoke;
        align-content: flex-start;
    }
    .card-image{
        height: 450px;
    }

    .card-desc {
        box-sizing: content-box;
        padding: 15px;
        grid-column: span 2;
    }

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
</style>
<script>
    const Products = [
    {
        image:'../images/amikacid.jpg' ,
        name:"АМИКАЦИД" , 
        contains:"действующее вещество: amikacin;1 мл раствора содержит амикацина сульфата эквивалентно амикацину 250 мг; вспомогательные вещества: натрия цитрат, натрия метабисульфит (Е 223), кислота серная, вода для инъекций" , instruction: "Инфекции, вызванные чувствительными к амикацину штаммами микроорганизмов, резистентными к другим аминогликозидам",
        packaging:"По 2 мл или 4 мл во флаконах; по 1 флакону в пачке из картона.По 2 мл или 4 мл во флаконах; по 5 флаконов в контурной ячейковой упаковке; по 2 контурные ячейковыеупаковки впачке из картона." , 
        certification: "Регистрационное удостоверение: № UA/15452/01/01.Срок действия: до 15.09.2021г"
    },
    {
        image:"../images/aminokapr.jpg",
        name:"АМИНОКАПРОНОВАЯ КИСЛОТА",
        contains:"ислота аминокапроновая, натрия хлорид, вода для инъекций.",
        instruction:"кровотечения после хирургических операций и различные патологические состояния,связанные с повышением фибринолитической активности крови и тканей. Предотвращение развития вторичной гипофибриногенемии при объемных переливаниях консервированной крови.",
        packaging:"по 100 мл в стеклянных бутылках",
        certification:"Регистрационное удостоверение № UA/2018/01/01.Срок действия с 13.10.2009 по 13.10.2014 "
    },
    {
        image:"../images/artroks.jpg",
        name:"АРТРОКС",
        contains:"діюча речовина:  chondroitin sulfate sodium 1 флакон (2 мл лікарського засобу)  містить хондроїтину натрію  сульфату  200 мг; допоміжні речовини: спирт бензиловий, вода для ін’єкцій. ",
        instruction:"Показания к применению Дегенеративно-дистрофические заболевания суставов и позвоночника (первичный артроз, межпозвоночный остеохондроз, остеоартроз), остеопороз, пародонтопатии, переломы (для ускорения образования костной мозоли). Лечение последствий операций на суставах",
        packaging:"По 2 мл у флаконі; по 5 флаконів у контурній чарунковій упаковці; по 2 контурні чарункові упаковки  в  пачці з картону.",
        certification:"Реєстраційне посвідчення:  № UA/14883/01/01 Термін дії:       до 04.02.2021"
    },
    {
        image:"",
        name:"Атракуріум-Ново",
        contains:"діюча речовина: атракуріуму бесилат; 1 мл розчину містить атракуріуму бесилату (у перерахуванні на 100 % речовини) 10 мг; допоміжні речовини: розчин кислоти бензолсульфонової, вода для ін’єкцій. ",
        instruction:"Для міорелаксації при хірургічних втручаннях і діагностичних процедурах (проведення ендотрахеальної інтубації та штучної вентиляції легенів).",
        packaging:"По 2,5 мл або 5 мл у флаконі; по 5 флаконів в контурній чарунковій упаковці у пачці з картону.",
        certification:"Реєстраційне посвідчення:      № UA/13801/01/01 Строк дії:  до 19.08.2019 "
    },
    {
        image:"",
        name:"ГЕПАРИН-НОВОФАРМ",
        contains:"гепарину натрію, спирт бензиловий, натрію хлорид, вода для ін’єкцій.",
        instruction:"",
        packaging:"",
        certification:""
    },
];
        // {image: ,name: ,description: },
        // {image: ,name: ,description: }]
        const markup = `
            ${Products.map(Product => `
            <div class="card">
                <div class="card-image">
                    <img src ="${Product.image}">
                </div>
                <div class="card-desc">
                    <strong>${Product.name}</strong>
                    <p>${Product.contains}</p>
                    <p>${Product.instruction}</p>
                    <p>${Product.packaging}</p>
                    <strong>${Product.certification}</strong> 
                </div>
            </div>   
        </div>
            `).join('')}
            `;

        const container = document.querySelector('.container-fluid');
        const containerContent = document.createElement('div');
        containerContent.innerHTML = markup;

        container.appendChild(containerContent);
        
        
</script>
 <div class="jumbotron">
        <h1>На данной странице вы можете увидеть список растворов</h1>
        <h3>Производство лекарственных средств, зарегистрированных ООО фирмой "Новофарм-Биосинтез":</h3>
        </div>
        <div class="container-fluid">
        
        </div>

<% include partials/footer %>