<% include partials/header %>
<style>
    .container-fluid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    }

    .card {
        display: flex;
        flex-wrap: wrap; 
        background: whitesmoke;
        align-content: flex-start;
    }
    .card-image{
        height: 450px;
    }

    .card-desc {
        box-sizing: content-box;
        padding: 15px;
        grid-column: span 2;
    }
    .product-certification{
        text-align: center;
        padding: 10px;
        
    }   
    img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
</style>
<div class="jumbotron">
        <h1>На данной странице вы можете увидеть список растворов</h1>
        <h3>Производство лекарственных средств, зарегистрированных ООО фирмой "Новофарм-Биосинтез":</h3>
        </div>
        <div class="container-fluid">
        </div>
<script>
    const Products = [
    {
        image: '../images/amikacid.jpg',
        name: "АМИКАЦИД",
        contains: "действующее вещество: amikacin;1 мл раствора содержит амикацина сульфата эквивалентно амикацину 250 мг; вспомогательные вещества: натрия цитрат, натрия метабисульфит (Е 223), кислота серная, вода для инъекций", 
         instruction: "Инфекции, вызванные чувствительными к амикацину штаммами микроорганизмов, резистентными к другим аминогликозидам",
        packaging: "По 2 мл или 4 мл во флаконах; по 1 флакону в пачке из картона.По 2 мл или 4 мл во флаконах; по 5 флаконов в контурной ячейковой упаковке; по 2 контурные ячейковыеупаковки впачке из картона.",
        certification: "Регистрационное удостоверение: <br>№ UA/15452/01/01.",
        term_date:"Срок действия: до 15.09.2021г"
    },
    {
        image: "../images/aminokapr.jpg",
        name: "АМИНОКАПРОНОВАЯ КИСЛОТА",
        contains: "ислота аминокапроновая, натрия хлорид, вода для инъекций.",
        instruction: "кровотечения после хирургических операций и различные патологические состояния,связанные с повышением фибринолитической активности крови и тканей. Предотвращение развития вторичной гипофибриногенемии при объемных переливаниях консервированной крови.",
        packaging: "по 100 мл в стеклянных бутылках",
        certification: "Регистрационное удостоверение <br>№ UA/2018/01/01.",
        term_date:"Срок действия с 13.10.2009 по 13.10.2014 "
    },
    {
        image: "../images/artroks.jpg",
        name: "АРТРОКС",
        contains: "діюча речовина:  chondroitin sulfate sodium 1 флакон (2 мл лікарського засобу)  містить хондроїтину натрію  сульфату  200 мг; допоміжні речовини: спирт бензиловий, вода для ін’єкцій. ",
        instruction: "Показания к применению Дегенеративно-дистрофические заболевания суставов и позвоночника (первичный артроз, межпозвоночный остеохондроз, остеоартроз), остеопороз, пародонтопатии, переломы (для ускорения образования костной мозоли). Лечение последствий операций на суставах",
        packaging: "По 2 мл у флаконі; по 5 флаконів у контурній чарунковій упаковці; по 2 контурні чарункові упаковки  в  пачці з картону.",
        certification: "Реєстраційне посвідчення:  <br>№ UA/14883/01/01 ",
        term_date:" Термін дії:       до 04.02.2021"
    },
    {
        image: "../images/atrakuriumnovo.jpg",
        name: "Атракуріум-Ново",
        contains: "діюча речовина: атракуріуму бесилат; 1 мл розчину містить атракуріуму бесилату (у перерахуванні на 100 % речовини) 10 мг; допоміжні речовини: розчин кислоти бензолсульфонової, вода для ін’єкцій. ",
        instruction: "Для міорелаксації при хірургічних втручаннях і діагностичних процедурах (проведення ендотрахеальної інтубації та штучної вентиляції легенів).",
        packaging: "По 2,5 мл або 5 мл у флаконі; по 5 флаконів в контурній чарунковій упаковці у пачці з картону.",
        certification: "Реєстраційне посвідчення:      <br>№ UA/13801/01/01 ",
        term_date:"Термін дії:  до 19.08.2019 "
    },
    {
        image: "../images/geparin.jpg",
        name: "ГЕПАРИН-НОВОФАРМ",
        contains: "гепарину натрію, спирт бензиловий, натрію хлорид, вода для ін’єкцій.",
        instruction: "профілактика та лікування тромбоемболічних захворювань та їх ускладнень, дляпопередження післяопераційних венозних тромбозів та емболії легеневої артерії(в режимі низького дозування) у пацієнтів, які перенесли абдомінальні або торакальні хірургічні втручання, або у тих, хто  через будь- які інші причини має ризик розвитку тромбоемболічної хвороби, для попередження згортання крові при лабораторних дослідженнях, діалізі, екстракорпоральному кровообігу, операціях на серці та судинах, прямому переливанні крові",
        packaging: "по 2 або 4, або 5 мл у скляних флаконах",
        certification: "Реєстраційне посвідчення <br>№ UA/10826/01/01",
        term_date:"Строк дії з 03.08.2010 по 30.07.2015"
    },
    {
        image: "../images/glukoza.jpg",
        name: "ГЛЮКОЗА-НОВОФАРМ",
        contains: "глюкоза, натрію хлорид, розчин кислоти хлористоводневої, вода для ін’єкцій",
        instruction: " гіпер- та ізоосмотична дегідратація, колапс, шок, інтоксикація, гіпоглікемія",
        packaging: "по 200 та 400 мл у скляних пляшках",
        certification: "Реєстраційне посвідчення <br>№ UA/6284/01/01 ",
        term_date:"Строк дії з 11.05.2012 по 11.05.2017",
    },
    {
        image: "../images/levofloksacin.jpg",
        name: "ЛЕВОФЛОКСАЦИН-НОВОФАРМ",
        contains: "діюча речовина:левофлоксацину гемігідрат; 1 мл розчину містить левофлоксацину гемігідрату у перерахуванні на левофлоксацин 5 мг; допоміжні речовини: натрію хлорид, натрію гідроксид, кислота хлористоводнева концентрована, вода для ін’єкцій.",
        instruction: "Інфекції, спричинені чутливими до левофлоксацину мікроорганізмами: - негоспітальна пневмонія; - ускладнені інфекції шкіри та м’яких тканин (для вищезгаданих інфекцій лікарський засіб слід застосовувати лише тоді, коли застосування інших  антибактеріальних засобів, які зазвичай рекомендовані для початкового лікування цих інфекцій, є  недоцільними або неможливими); - ускладнені інфекції сечовивідного тракту(у тому числі пієлонефрит); - хронічний бактеріальний простатит;  - легенева форма сибірської виразки: профілактика після контактів та лікування.",
        packaging: "По 100 мл у пляшці; по 1 пляшці у пачці з картону",
        certification: "Реєстраційне посвідчення: <br>№ UA/16632/01/01 ",
        term_date:"Термін дії: до 21.03.2023"
    },
    {
        image: "../images/manit.jpg",
        name: "МАНИТ-НОВОФАРМ",
        contains: "маніт, натрію хлорид, вода для ін’єкцій",
        instruction: "набряк мозку, церебральна гіпертензія, інтенсивна терапія судомного статусу, асцит; гостра печінкова та ниркова недостатність зі збереженою фільтраційною здатністю нирок та інші стани, які потребують посилення діурезу(епілептичний статус, гострий напад глаукоми, операції із застосуванням екстракорпорального кровообігу, посттрансфузійні ускладнення після введення несумісної крові, отруєння барбітуратами та інші отруєння).",
        packaging: "по 200, 250, 400 або 500 мл у скляних пляшках",
        certification: "Реєстраційне посвідчення <br>№ UA/3653/01/01 ",
        term_date:"Строк дії з 07.09.2010 по 01.09.2015"
    },
    {
        image: "../images/metronidazol.jpg",
        name: "МЕТРОНІДАЗОЛ-НОВОФАРМ",
        contains: "метронідазол, натрію хлорид, кислоти лимонної моногідрат, натрію дигідрофосфату дигідрат, вода для ін’єкцій.",
        instruction: "тяжкі інфекції, спричинені чутливими до препарату мікроорганізмами: внутрішньочеревні інфекції; інфекції органів малого тазу; інфекції дихальних шляхів; інфекції шкіри; сепсис; ендокардит; інфекції центральної нервової системи; септицемія, газова гангрена.Лікування гострого кишкового амебіазу та амебного абсцесу печінки.Профілактика інфекційних ускладнень, що спричиняються анаеробними бактеріями при хірургічних втручаннях при апендектомії, гінекологічних операціях.",
        packaging: " по 100 та 200 мл у скляних пляшках. ",
        certification: "Реєстраційне посвідчення <br>№ UA/5519/01/01  ",
        term_date:"Строк дії з 25.01.2012 по 25.01.2017"
    },
    {
        image: "../images/mildrakor.jpg",
        name: "МИЛДРАКОР-НОВОФАРМ",
        contains: "мельдоній, вода для ін’єкцій",
        instruction: "- застосовують у складі комплексної терапії ішемічної хвороби серця і дисгормональної кардіоміопії; - гострі і хронічні порушення кровопостачання мозку; - гемофтальм і крововиливи в сітківку різної етіології, тромбоз центральної вени сітківки і її гілок, ретинопатії різної етиології; знижена працездатність, фізичне перенавантаження; абстинентний синдром при хронічному алкоголізмі.",
        packaging: " по 5 мл. в скляних пляшках",
        certification: "Реєстраційне посвідчення <br>№ UA/4131/02/01 ",
        term_date:"Строк дії з 12.10.2012 р до 12.10.2017 р."
    },
    {
        image: "../images/natrij-hlorid.jpg",
        name: "НАТРИЙ ХЛОРИД",
        contains: "натрію хлорид, вода для ін’єкцій",
        instruction: "дегідратація, гіпонатріємія, гіпохлоремія, інтоксикації різної етіології, тяжкий перебіг післяопераційного періоду, великі опіки, шок, тривала діарея, нестримне блювання, гострі масивні крововтрати, тривалі гарячкові стани, неможливість перорального введення необхідної добової норми води та електролітів, приготування розчинів лікарських засобів для зовнішнього та парентерального затосування.",
        packaging: "по 200 та 400 мл у скляних пляшках",
        certification: "Реєстраційне посвідчення <br>№ UA/8438/01/01 .",
        term_date:"Перереєстровано на необмежений термін"
    },
    {
        image: "../images/neogemodez.jpg",
        name: "НЕОГЕМОДЕЗ",
        contains: "повідон, натрію хлорид, калію хлорид, кальцію хлорид гексагідрат, магнію хлорид гексагідрат, натрію гідрокарбонат, вода для ін’єкцій.",
        instruction: "дезінтоксикація організму при токсичних формах гострих захворювань травного тракту; інфекційні захворювання, що супроводжуються токсикозами; опікова хвороба у фазі інтоксикації (2-5 день); гостра променева хвороба у фазі інтоксикації; перитоніт і непрохідність кишечнику (в перед- та післяопераційний період); гостра ниркова недостатність різної етіології набряки, спричинені хронічними захворюваннями нирок або токсикозами; тиреотоксикози, сепсис; різні захворювання печінки.",
        packaging: "по 200 або 400 мл у скляних пляшках",
        certification: "Реєстраційне посвідчення <br>№ UA/9724/01/01 ",
        term_date:"Строк дії з 02.06.2009 по 02.06.2014"
    },
    {
        image: "../images/novoxicam.jpg",
        name: "НОВОКСИКАМ",
        contains: "діюча речовина: 1,5 мл препарату містить 15 мг мелоксикаму; допоміжні речовини: меглюмін, глікофурол, полоксамер, натрію хлорид, гліцин, натрію гідроксид, вода для ін’єкцій.",
        instruction: "Короткотривале симптоматичне лікування гострого нападу ревматоїдного артриту та анкілозивного спондиліту, коли пероральний та ректальний шляхи застосування не можуть бути використані.",
        packaging: "Флакони по 1,5 мл; по 5 флаконів у контурній чарунковій упаковці в пачці з картону",
        certification: "Реєстраційне посвідчення <br>№ UA/12940/01/01 ",
        term_date:"Перереєстровано на необмежений термін."
    },
    {
        image: "../images/novakson.jpg",
        name: "НОВАКСОН",
        contains: "діюча речовина: 1 флакон (4 мл) містить цитиколіну натрію, що відповідає цитиколіну 500 мг або 1000 мг; допоміжні речовини: кислота хлористоводнева концентрована або натрію гідроксид, вода для ін’єкцій.",
        instruction: "Гостра фаза порушень мозкового кровообігу та лікування ускладнень і наслідків порушень мозкового кровообігу. Черепно-мозкова травма та її наслідки. Неврологічні розлади (когнітивні, сенситивні, моторні), спричинені церебральною патологією дегенеративного та судинного походження.",
        packaging: "По 4 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці; по 1 або 2 контурні чарункові упаковки в пачці з картону.",
        certification: "Реєстраційне посвідчення: <br>№ UA/14098/01/01 ",
        term_date:"Термін придатності: до 05.12.2019"
    },
    {
        image: "../images/novostezin.jpg",
        name: "НОВОСТЕЗИН",
        contains: "діюча речовина: 1 мл розчину містить бупівакаїну гідро хлориду в перерахуванні на безводну речовину 2,5 мг або 5 мг; допоміжні речовини: натрію хлорид, натрію гідроксид або кислота хлористоводнева концентрована, вода для ін’єкцій.",
        instruction: "інфільтраційна анестезія, якщо необхідно досягти звичайної тривалості ефекту, наприклад, для усунення післяопераційного болю; регіональна анестезія: блокада периферичних нервів (тулуба та сплетінь) та блокада центральних нервів (епідуральних та спінальних); хірургічна анестезія;анестезія в акушерстві.",
        packaging: "По 5 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці в пачці з картону.",
        certification: "Реєстраційне посвідчення <br>№ UA/15457/01/01  ",
        term_date:"Термін дії до 15.09.2021"
    },
    {
        image: "../images/novostezin-spinal.jpg",
        name: "НОВОСТЕЗИН СПИНАЛ ХЕВИ",
        contains: "діюча речовина:bupivacaine hydrochloride; 1 мл розчину містить бупівакаїну гідрохлориду в перерахунку на безводну речовину 5 мг; допоміжні речовини: глюкоза, моногідрат;натрію гідроксид або кислота хлористоводнева концентрована,",
        instruction: "Спінальна анестезія в хірургії (наприклад, при урологічних хірургічних операціях, хірургії нижніх кінцівок тривалістю 2−3 години, абдомінальній хірургії тривалістю 45−60 хвилин).",
        packaging: "По 4 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці; по 1 контурній чарунковій упаковці в пачці з картону.",
        certification: "Реєстраційне посвідчення: <br>№ UA/15582/01/01 ",
        term_date:"Термін дії: 24.11.2021"
    },
    {
        image: "../images/ornidazol.jpg",
        name: "ОРНИДАЗОЛ-НОВОФАРМ",
        contains: "діюча речовина: орнідазол; 1 мл розчину містить орнідазолу 5 мг; допоміжні речовини: натрію хлорид, натрію гідроксид, кислота хлористоводнева концентрована, вода для ін’єкцій.",
        instruction: "Парентеральне введення лікарського засобу показане у випадках гострої та тяжкої інфекції або неможливості перорального застосування при таких захворюваннях і станах: <ul> <li>анаеробні системні інфекції, спричинені чутливою до орнідазолу мікрофлорою: септицемія, менінгіти, перитоніти, післяопераційні ранові інфекції, сепсис, септичний аборт та ендометрит;</li> <li>профілактика інфекцій, спричинених анаеробними бактеріями, при хірургічних втручаннях (особливо при операціях на ободовій та прямій кишці), при гінекологічних операціях;</li> <li>амебна дизентерія з тяжким перебігом, усі позакишкові форми амебіазу, лямбліоз, абсцес печінки.</li></ul>",
        packaging: "По 100 мл у пляшці; по 1 пляшці у пачці з картону",
        certification: "Реєстраційне посвідчення: <br>№ UA/16647/01/01 ",
        term_date:"Термін дії: до 04.04.2023"
    },
    {
        image: "../images/propofol.jpg",
        name: "ПРОПОФОЛ-НОВО",
        contains: "пропофол, олія соєва, лецитин, гліцерин, натрію гідроксид, вода для ін’єкцій.",
        instruction: "для індукції та підтримання загальної анестезії; для забезпечення седативного ефекту у пацієнтів, яким проводиться штучна вентиляція легень в умовах реанімації; для забезпечення седативного ефекту при проведенні хірургічних і діагностичних процедур.",
        packaging: "по 10 мл, 20 мл, 50 мл або 100 мл у скляних пляшках.",
        certification: "Реєстраційне посвідчення <br>№ UA/9488/01/01 ",
        term_date:"Строк дії з 23.01.2014 по 23.01.2019"
    },
    {
        image: "../images/reopoliglukin.jpg",
        name: "РЕОПОЛИГЛЮКИН-НОВОФАРМ",
        contains: "декстран, натрію хлорид, вода для ін’єкцій.",
        instruction: "для поліпшення капілярного кровотоку з метою профілактики та лікування травматичного, операційного, токсичного й опікового шоків; для поліпшення артеріального і венозного кровообігу з метою профілактики і лікування тромбозів,тромбофлебітів, ендартеріїтів, хвороби Рейно; для поліпшення мікроциркуляції і зменшення тромбозів у трансплантаті при судинних і пластичних операціях.",
        packaging: "по 200, 250, 400, 500 мл у скляних пляшках, по одній пляшці в пачці з картону.",
        certification: "Реєстраційне посвідчення <br>№ UA/6264/01/01 ",
        term_date:"Перереєстровано на необмежений термін"
    },
    {
        image: "../images/refordez.jpg",
        name: "РЕФОРДЕЗ-НОВОФАРМ",
        contains: "гідроксіетилкрохмаль з середньою молекулярною масою 20000 дальтон, натрію хлорид, вода для ін’єкцій.",
        instruction: "лікування та профілактика гіповолемії при шокових станах внаслідок травм, опіків, гострої крововтрати, інфекції, для зменшення об’єму гемотрансфузій, а також для гемодилюції.",
        packaging: "по 200 або 400 мл у скляних пляшках.",
        certification: "Реєстраційне посвідчення <br>№ UA/2004/01/01 ",
        term_date:"Строк дії з 21.09.2009 по 21.09.2014"
    },
    {
        image: "../images/tio-lipon.jpg",
        name: "ТИО-ЛИПОН-НОВОФАРМ",
        contains: "діюча речовина: thioctic acid; 1 мл розчину містить 30 мг тіоктової (a-ліпоєвої) кислоти; допоміжні речовини: меглюмін, макрогол 300, вода для ін’єкцій.",
        instruction: "Профілактика і лікування діабетичної полінейропатії, алкогольна нейропатія,захворювання печінки (гепатити, цироз, жирова дегенерація), при інтоксикаціях (наприклад: грибами, солями важких металів).",
        packaging: "По 10 мл або 20 мл у флаконах; по 5 флаконів у контурній чарунковій упаковці; по 1 або 2 контурні чарункові упаковки в пачці з картону.",
        certification: "Реєстраційне посвідчення: <br>№ UA/13320/01/01 ",
        term_date:"Перереєстровано на необмежений термін."
    },
    {
        image: "../images/ciprofloksacin.jpg",
        name: "ЦИПРОФЛОКСАЦИН-НОВОФАРМ",
        contains: "ципрофлоксацину гідрохлорид, натрію хлорид, динатрію едетат, розчин кислоти хлористоводневої, вода для ін’єкцій.",
        instruction: "середньо тяжкі та тяжкі форми інфекцій, спричинені чутливими до препарату мікроорганізмами, інфекції ЛОР-органів, нижніх дихальних шляхів, органів малого таза, шкіри і м’яких тканин, кісток і суглобів, венеричні інфекції, внутрішньочеревні інфекції, тяжкі інфекції на фоні імунодефіциту і нейтропенії. Препарат застосовують для профілактики інфекційних ускладнень при хірургічних втручаннях.",
        packaging: "по 100 та 200 мл у скляних пляшках.",
        certification: "Реєстраційне посвідчення <br>№ UA/5534/01/01 ",
        term_date:""
    },
    {
        image: "../images/pharmalipon.jpg",
        name: "ФАРМАЛІПОН",
        contains: "діюча речовина:тіоктова (a-ліпоєва) кислота; 1 мл розчину містить тіоктової (a-ліпоєвої) кислоти 30 мг; допоміжні речовини: меглюмін, макрогол 300, вода для ін’єкцій.",
        instruction: "Парестезії при діабетичній полінейропатії.",
        packaging: "По 20 мл у флаконі; по 5 флаконів у контурній чарунковій упаковці у пачці з картону.",
        certification: "Реєстраційне посвідчення <br>№ UA/16672/01/01",
        term_date:"Строк дії з 25.01.2012 по 25.01.2017"
    },
    {
        image: "../images/tio-lipon-turbo.jpg",
        name: "ТІО-ЛІПОН ТУРБО",
        contains: "діюча речовина: thioctic acid; 1 мл розчину містить 12 мг тіоктової(a-ліпоєвої) кислоти; допоміжні речовини: меглюмін, макрогол 300, вода для ін’єкцій.",
        instruction: "Порушення чутливості при діабетичній полінейропатії.",
        packaging: "По 50 мл у флаконах; по 1 флакону або 10 флаконів в пачці з картону",
        certification: "Реєстраційне посвідчення <br>№ UA/16244/01/01 ",
        term_date:"Термін дії до 16.08.2022 р"
    },
];
const markup = `
    ${Products.map(Product => `
        <div class="card">
            <div class="card-image">
                <img src ="${Product.image}">
            </div>
            <div class="card-desc">
                <strong>${Product.name}</strong>
                <p>${Product.contains}</p>
                <p>${Product.instruction}</p>
                <p>${Product.packaging}</p>
            </div>
             <div class="product-certification">
                <strong>${Product.certification}</strong> 
                <br>
                <strong>${Product.term_date}</strong>
            </div>
        </div>   
     </div>
    `).join('')}
    `;
        document.querySelector('.container-fluid').insertAdjacentHTML('afterbegin', markup)
</script>
<% include partials/footer %>
